* {
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    height: 60%;
    width:100%;
    position:fixed;    
}
h1 {
    color:yellow;
    position:absolute;
    left: 10px;
    top: 10px;
    line-height: 10px;
    background-image:url(IMG/EAN.png) ;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    text-indent: -9999px; 
}
header ul {
    position:absolute;
    right:25%;
    top: 60px;
    line-height:750px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-kerning: normal;
}
header li {
    display:inline;
    margin-left:100px;

}
header a {
    color:#ee81d2;
    text-decoration:overline yellow;
}
.menu {
    display:none;
}

/* 響應式設計語法 */
@media screen and (max-width: 768px) {
    header {
        height: 20%;
    }
    h1 {
        top: 75px;
        text-indent:100px;
        background-image:none;
        font-family:serif;
        font-kerning:normal;
        font-weight:bolder;    
        text-decoration: underline #ee81d2;
        text-decoration-thickness: 10px;
        
    }
    header ul {
        display:none;
    }
    header h1 {
        left:50%;
        transform: translateX(-50%);
    }
    .menu {
        display:block;
        background-color: transparent;
        color:white;
        font-size: 35px;
        position:absolute;
        top:15px;
        left:20px;
        border:none;
        cursor: pointer;
    }
}